<br>
<div class="row mx-auto" style="width: 80%;">

    <div class="col-sm-12 col-md-12 col-lg-2">
      <div class="card" data-toggle="tooltip" data-placement="left">
        <div class="card-header">
          Pesquisa
        </div>
        <div class="card-body">
          <form class="form-inline">
            <input #searchBox id="search-box" class="form-control" (keyup)="updateTerm(searchBox.value)" style="width: 100%;" type="search"
              placeholder="sopa de ..." aria-label="Search">
          </form>
        </div>
        <div class="card-header">
          Filtros
          <label (change)="updateFilter()" class="switch float-right">
            <input type="checkbox" data-toggle="collapse" data-target="#filters">
            <span class="slider round"></span>
          </label>
        </div>
        <div id="filters" class="collapse">
          <div class="card-body">
            Categorias:
            <div class="btn-group-toggle" data-toggle="buttons" *ngFor="let categorie of categories;">
              <label (click)="updateCategories(categorie.id)" style="width: 100%" class="btn btn-sm btn-light active">
                <input type="checkbox" checked autocomplete="off">{{categorie.nome}}
              </label>
            </div>
          </div>   
        </div>
    
      </div>
    </div>


  <div class="col-sm-12 col-md-12 col-lg-10">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4" *ngFor="let plate of plates_to_show;">
        <div class="card" style="margin-bottom: 15%; margin-right: 10%" data-toggle="tooltip" data-placement="left">
          <div class="card-header">
            <strong>{{plate.nome}}</strong>
            <span class="badge badge-success float-right ">{{plate.preco}}€</span>
          </div>
          <div style="position: relative; text-align: center;">
            <img class="card-img-top" style="width: 100%; height: 20vh; background-position: center center; background-repeat: no-repeat;"
              src="{{plate.imagem}}" alt="{{plate.nome}}" data-toggle="modal" (click)="updateModal(plate.id)" data-target="#exampleModal">
            <div style="position: absolute; bottom: 10px; right: 10px;">
              <a href="#" class="btn btn-sm btn-success float-right"> Adicionar à cesta</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{modal_plate?.nome}}
          <span class="badge badge-success">{{modal_plate?.preco}}€</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="card-img-top" style="width: 100%; height: 50vh; background-position: center center; background-repeat: no-repeat;"
          src="{{modal_plate?.imagem}}" alt="{{modal_plate?.nome}}">
        <hr>
        <h5>Ingredientes: ({{modal_plate?.calorias}} kcal)</h5>
        <p *ngFor="let ingredientquantity of modal_plate?.ingredientes;">
          - {{ingredientquantity?.quantidade}} gr. of {{ingredientquantity?.ingrediente.nome}} ({{ingredientquantity?.ingrediente.calorias}}
          kcal)
      
          <h5>Categorias:</h5>
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-2" *ngFor="let category of modal_plate?.categorias;">
              <h3>
                <span class="badge badge-success">{{category.nome}}</span>
              </h3>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-sm btn-secondary" data-dismiss="modal">Fechar</a>
        <a href="#" class="btn btn-sm btn-success float-right">Adicionar à cesta</a>
      </div>
    </div>
  </div>
</div>